.statistics {
  box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  color: grey;
  background-color: rgb(244, 242, 238);
  text-align: center;
  padding: 10px;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  color: rgb(244, 242, 238);
  font-weight: 500;
}

.label {
  font-size: 14px;
}

.percentage {
  font-size: 16px;
}
